@import "../../styles/variable.scss";

header {
  min-width: 100vh;
  min-height: 6.5rem;
  @include flex(space-between, center);
  padding: 1rem 5rem;

  .logo {
    color: #083742;
    @include font($font-poppins, 3.5rem, $color-text-primary, bold);
    .logo-icon {
      font-size: 3rem;
      padding-left: 0.35rem;
    }
  }
}
