// fonts
$font-poppins: "Poppins", sans-serif;
$font-anton: "Anton", sans-serif;

// colors
$color-text-primary: #083742;
$body-bg: #ebfafe;

@mixin flex($jus-co, $ai, $flex-dir: row) {
  display: flex;
  justify-content: $jus-co;
  align-items: $ai;
  flex-direction: $flex-dir;
}

@mixin font($fof, $fos, $foc, $fow: normal) {
  font-family: $fof;
  font-size: $fos;
  font-weight: $fow;
  color: $foc;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
